:root {
  --orange: #e76f51;
  --light-orange: #f4a261;
  --dark-brown: #8f4d3c;
  --brown: #d19f93;
  --light-brown: #ffe0b2;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-second {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

@keyframes pulse {
  0% {
    color: var(--light-orange);
  }

  50% {
    color: var(--orange);
  }

  100% {
    color: var(--light-orange);
  }
}

@keyframes pulse-white {
  0% {
    color: white;
  }

  50% {
    color: var(--light-orange);
  }

  100% {
    color: white;
  }
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  background-color: #fff8f1;
  color: #333;
  padding: 2rem;
  margin: 0;
  min-height: 100vh;
  min-height: 100dvh;
}

.outer-container {
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
fieldset legend {
  font-family: "Fredoka", cursive;
}

h1 {
  font-size: 2.75rem;
  color: var(--orange);
  font-weight: 700;
  margin: 0;
}

h3 {
  font-weight: 600;
}

fieldset legend {
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

fieldset legend i {
  margin-left: 4px;
}

.radio-option {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.radio-option + .radio-option {
  margin-top: 8px;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--orange);
  border-radius: 50%;
  transform: translateY(0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--light-orange);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

button.button {
  background: var(--light-orange);
  color: white;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 1rem;
  font-family: "Fredoka", cursive;
}

button.button:hover {
  background: var(--orange);
}

button.button:disabled {
  background-color: lightgrey;
  cursor: auto;
  pointer-events: none;
}

button.ghost-button {
  background: white;
  color: var(--light-orange);
  border: 2px solid var(--light-orange);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 1rem;
  font-family: "Fredoka", cursive;
}

button.ghost-button:hover {
  border-color: var(--orange);
  color: var(--orange);
}

button.ghost-button:disabled {
  border-color: lightgray;
  color: lightgray;
  pointer-events: none;
}

button.ghost-button.active {
  background-color: var(--orange);
  color: white;
  border-color: var(--orange);
}

button.ghost-button.active i {
  animation: pulse-white 2s linear infinite forwards;
}

.highlight {
  color: var(--orange);
  font-weight: 700;
}

.very-different-label {
  color: var(--orange);
  font-family: "Fredoka", cursive;
}

.headline-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 32px;
}

.chef-icon {
  height: 53px;
}

.input-container {
  margin-bottom: 1rem;
}

.input-container label {
  margin-bottom: 0.5rem;
}

.inner-input-container {
  display: flex;
  gap: 0.5rem;
}

input#ingredients,
input#additional-characteristics {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border: 2px solid var(--light-orange);
  border-radius: 8px;
  font-size: 1rem;
}

input#ingredients {
  border: 2px solid var(--light-orange);
}

input#additional-characteristics {
  border: 2px solid var(--dark-brown);
}

.inner-input-container button {
  background: var(--light-orange);
  color: white;
  border: none;
  padding: 0 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.inner-input-container button:hover {
  background: var(--orange);
}

.tags-container {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.tags-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
  padding-left: 0;
  list-style: none;
}

.tags-container ul li:not(.tag) {
  font-weight: 700;
  font-family: "Fredoka", cursive;
  height: 32px;
  display: flex;
  align-items: center;
}

.tags-container ul li:not(.tag):not(:last-child)::after {
  content: "|";
  padding-left: 0.5rem;
  color: black;
}

.tags-container ul li.ingredient-tag:not(.tag):not(:last-child)::after {
  color: var(--orange);
}

.tags-container ul li.characteristic-tag:not(.tag):not(:last-child)::after {
  color: var(--dark-brown);
}

.tag {
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transform: scale(1);
  transition: all 0.1s ease-in-out;
}

.tag.ingredient-tag {
  background: var(--light-brown);
}

.tag.characteristic-tag {
  background: var(--dark-brown);
  color: white;
}

.tag.hidden {
  transform: scale(0);
}

.tag button {
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  background-color: transparent;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag.ingredient-tag button {
  color: var(--orange);
}

.tag.characteristic-tag button {
  color: var(--light-brown);
}

.tag button:hover {
  background-color: transparent;
  color: black;
}

.animated-height-outer {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s ease;
}

.animated-height-outer.show {
  grid-template-rows: 1fr;
}

.animated-height-inner {
  overflow: hidden;
}

.recipe-container .recipe-ingredients li::marker {
  color: var(--orange);
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: var(--orange);
}

p {
  margin-top: 0.5rem;
}

.generate-recipe.button {
  margin-top: 24px;
}

.generating-loader {
  color: #f28482;
  font-weight: 700;
}

ul,
ol {
  margin: 0.5rem 0 0 0;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li::marker,
ol li::marker {
  color: #f28482;
}

ul.horizontal-list,
ol.horizontal-list {
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.not-available-list {
  gap: 8px;
}

.not-available-button {
  color: #f28482;
  border: none;
  margin-left: 0.5rem;
  cursor: pointer;
  padding: 0;
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
}

.not-available-button:hover {
  color: white;
  background-color: #f28482;
}

.not-available-button.add-again {
  color: green;
}

.not-available-button.add-again:hover {
  color: white;
  background-color: green;
}

.not-available-item span {
  text-decoration: line-through;
  opacity: 0.6;
}

.retry-actions {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 32px;
}

.retry-button {
  flex-shrink: 0;
}

.recipe-steps-container {
  margin-top: 28px;
}

.animated-button {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 8px;
  background-color: var(--light-orange);
  line-height: 1rem;
  font-family: "Fredoka", cursive;
  font-size: 1rem;
  color: white;
  transition: all 0.25s ease-in;
}

.animated-button .inner {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 3px;
  padding: 6px 16px;
  border-radius: 6px;
  background-color: var(--light-orange);
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.animated-button .inner:hover {
  background-color: white;
  color: var(--orange);
}

.animated-button.animate .inner:not(:hover) {
  animation: pulse 1.5s linear forwards infinite;
  color: var(--orange);
  background-color: white;
}

.animated-button.animate:hover {
  background-color: var(--orange);
}

.animated-button.animate:not(:hover)::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    var(--light-orange) 0%,
    var(--orange) 15%,
    var(--orange) 100%
  );
  height: 300px;
  width: 20px;
  position: absolute;
  animation: rotate 3s linear forwards infinite;
  z-index: 0;
  transform-origin: top center;
  top: 50%;
  transform: translate(0);
}

/* .animated-button.animate::after {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    var(--light-orange) 0%,
    var(--orange) 15%,
    var(--orange) 100%

  );
  height: 300px;
  width: 20px;
  position: absolute;
  transform: rotate(180deg);
  animation: rotate-second 3s linear forwards infinite;
  z-index: 0;
  transform-origin: top center;
  top: 50%;
}  */

@media (max-width: 600px) {
  body {
    padding: 0.5rem;
  }
  .outer-container {
    padding: 2rem 1rem;
  }

  .headline-container {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    margin-top: 0;
    font-size: 2.25rem;
  }

  h4 {
    margin-top: 0.5rem;
  }

  .chef-icon {
    height: 53px;
  }

  .recipe-ingredients-container h4 {
    margin-top: 28px;
  }

  .recipe-container .recipe-ingredients {
    padding-left: 0;
    margin-left: 0;
    gap: 8px 16px;
  }

  .recipe-container ol {
    padding-left: 0;
  }

  .recipe-container .recipe-ingredients li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 8px;
  }

  .recipe-container .recipe-ingredients li:last-child {
    border-bottom: 0;
  }

  .recipe-container .recipe-ingredients li button {
    flex-basis: 1;
    flex-shrink: 0;
    margin-right: 0;
  }

  .ingredients-container {
    flex-direction: column;
  }

  .generate-recipe.button {
    width: 100%;
    justify-content: center;
  }

  .full-width-mobile {
    width: 100%;
  }

  .retry-actions {
    flex-direction: column-reverse;
  }

  .retry-actions button {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.fa-arrows-rotate {
  animation: 1s linear infinite rotate;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
